.note-input{
    width:500px;
    border:#e6e6e6 solid thin;
}
textarea.ng-invalid.ng-touched  {
    border: 2px solid #a94442; 
  }
  .note-success-msg{
      width: 500px;
      margin-top: 5px;
  }