<h3>Write a Quick Note</h3>
<form #noteForm="ngForm">
<textarea 
    rows="10" 
    class="note-input" 
    [(ngModel)]="noteInput" 
    id="noteInput" 
    name="noteInput" 
    required 
    #noteInputRef="ngModel"
>
</textarea>
<br>
<button type="button" class="btn btn-secondary btn-sm" [disabled]="!noteInputRef.valid" (click)="saveNote()" >Save Note</button>
<button type="button" class="btn btn-secondary btn-sm" [disabled]="!noteInputRef.valid" (click)="newNote(noteForm)">New  Note</button>
</form>
<div class="alert alert-success note-success-msg" *ngIf="noteCreatedSuccess">
    <i class="fa fa-check-circle"></i> Note created successfully    
</div>