<div class="noteView">
    <p class="noteContent">{{note.noteString}}</p>
    <p class="noteDate"><i class="fa fa-history"></i> {{note.createdDate | date:'short'}}</p>
    <div class="noteOptions">
          
                <button class="btn btn-sm btn-dark"><i class="fa fa-edit"></i> Edit</button>
                <button 
                    class="btn btn-sm btn-dark"
                    placement="right"
                    type="button"
                    [ngbPopover]="dltTemplate"
                    popoverTitle="Delete Note ?">
                    <i class="fa fa-edit"></i> Delete
                </button>
                <ng-template #dltTemplate class="templateMenu">
                    <button class="btn btn-sm btn-danger" (click)="deleteNote(note.id)">Yes</button>
                    <button class="btn btn-sm btn-dark">No</button> 
                </ng-template>
            
    </div>
</div>