<div id="navigation">
  <div class="nav-item-holder"><a routerLink="" routerLinkActive="active-page" [routerLinkActiveOptions]="{exact:true}"><span class="glyphicon glyphicon-pencil"></span></a></div>
  <div class="nav-item-holder"><a routerLink="trash" routerLinkActive="active-page"><span class="glyphicon glyphicon-trash"></span></a></div>
  <div class="nav-item-holder"><a routerLink="notes" routerLinkActive="active-page"><span class="glyphicon glyphicon-saved"></span></a></div>
  <div class="nav-item-holder"><a href="#"><span class="glyphicon glyphicon-off"></span></a></div>
</div>